extends layout

block content
  h2 Password Reset Request
  p Hi #{firstName},
  p We received a request to reset your password. Click the button below to create a new password:
  a.button(href=resetUrl) Reset Password
  p If the button doesn't work, copy and paste this link into your browser:
  p #{resetUrl}
  p This link will expire in #{validMinutes} minutes.
  p If you didn't request this password reset, please ignore this email.
  p Best regards,
  p The #{appName} Team
